<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <th:block th:include="static/fragment/head :: head"></th:block>

</head>
<body>
<div th:replace="header :: content"></div>

<main class="main">
    <div class="layout layout--offset-20">
        <div class="layout__container">
            <div class="layout__content overlay-container">
                <div class="breadcrumb">
                    <ol class="breadcrumb-list" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    </ol>
                </div>
                <div class="heading layout__heading">
                    <div class="heading__main"><h1 class="heading__text">Автомобили</h1></div>
                </div>
                <div class="overlay-container" aria-busy="false">
                    <div class="overlay overlay--area overlay--animated" hidden="">
                        <div class="overlay__spinner"></div>
                    </div>
                    <div class="catalog catalog--rich">
                        <div class="catalog__list">
                            <ul class="catalog__items">
                                <li class="catalog__item"><a class="catalog__link" th:href="@{'/Alfa-Romeo/page/' + ${currentPage} + '?sortField=price&sortDir=' + ${reverseSortDir}}"><span
                                        class="catalog__title">Alfa Romeo</span></a>
                                </li>
                                <li class="catalog__item"><a class="catalog__link" th:href="@{'/Dodge/page/' + ${currentPage} + '?sortField=price&sortDir=' + ${reverseSortDir}}"><span
                                        class="catalog__title">Dodge</span></a>
                                </li>
                                <li class="catalog__item"><a class="catalog__link" th:href="@{'/Kia/page/' + ${currentPage} + '?sortField=price&sortDir=' + ${reverseSortDir}}"><span
                                        class="catalog__title">Kia</span></a>
                                </li>
                                <li class="catalog__item"><a class="catalog__link" th:href="@{'/Nissan/page/' + ${currentPage} + '?sortField=price&sortDir=' + ${reverseSortDir}}"><span
                                        class="catalog__title">Nissan</span></a>
                                </li>
                                <li class="catalog__item"><a class="catalog__link" th:href="@{'/Skoda/page/' + ${currentPage} + '?sortField=price&sortDir=' + ${reverseSortDir}}"><span
                                        class="catalog__title">Skoda</span></a>
                                </li>
                            </ul>
                            <ul class="catalog__items">
                                <li class="catalog__item"><a class="catalog__link" th:href="@{'/Audi/page/' + ${currentPage} + '?sortField=price&sortDir=' + ${reverseSortDir}}"><span
                                        class="catalog__title">Audi</span></a>
                                </li>
                                <li class="catalog__item"><a class="catalog__link" th:href="@{'/Fiat/page/' + ${currentPage} + '?sortField=price&sortDir=' + ${reverseSortDir}}"><span
                                        class="catalog__title">Fiat</span></a>
                                </li>
                                <li class="catalog__item"><a class="catalog__link" th:href="@{'/Lada/page/' + ${currentPage} + '?sortField=price&sortDir=' + ${reverseSortDir}}"><span
                                        class="catalog__title">Lada (ВАЗ)</span></a>
                                </li>
                                <li class="catalog__item"><a class="catalog__link" th:href="@{'/Opel/page/' + ${currentPage} + '?sortField=price&sortDir=' + ${reverseSortDir}}"><span
                                        class="catalog__title">Opel</span></a>
                                </li>
                                <li class="catalog__item"><a class="catalog__link" th:href="@{'/Subaru/page/' + ${currentPage} + '?sortField=price&sortDir=' + ${reverseSortDir}}"><span
                                        class="catalog__title">Subaru</span></a>
                                </li>
                            </ul>
                            <ul class="catalog__items">
                                <li class="catalog__item"><a class="catalog__link" th:href="@{'/BMW/page/' + ${currentPage} + '?sortField=price&sortDir=' + ${reverseSortDir}}"><span
                                        class="catalog__title">BMW</span></a>
                                </li>
                                <li class="catalog__item"><a class="catalog__link" th:href="@{'/Ford/page/' + ${currentPage} + '?sortField=price&sortDir=' + ${reverseSortDir}}"><span
                                        class="catalog__title">Ford</span></a>
                                </li>
                                <li class="catalog__item"><a class="catalog__link" th:href="@{'/Lexus/page/' + ${currentPage} + '?sortField=price&sortDir=' + ${reverseSortDir}}"><span
                                        class="catalog__title">Lexus</span></a>
                                </li>
                                <li class="catalog__item"><a class="catalog__link" th:href="@{'/Peugeot/page/' + ${currentPage} + '?sortField=price&sortDir=' + ${reverseSortDir}}"><span
                                        class="catalog__title">Peugeot</span></a>
                                </li>
                                <li class="catalog__item"><a class="catalog__link" th:href="@{'/Suzuki/page/' + ${currentPage} + '?sortField=price&sortDir=' + ${reverseSortDir}}"><span
                                        class="catalog__title">Suzuki</span></a>
                                </li>
                            </ul>
                            <ul class="catalog__items">
                                <li class="catalog__item"><a class="catalog__link" th:href="@{'/Chevrolet/page/' + ${currentPage} + '?sortField=price&sortDir=' + ${reverseSortDir}}"><span
                                        class="catalog__title">Chevrolet</span></a>
                                </li>
                                <li class="catalog__item"><a class="catalog__link" th:href="@{'/Geely/page/' + ${currentPage} + '?sortField=price&sortDir=' + ${reverseSortDir}}"><span
                                        class="catalog__title">Geely</span></a>
                                </li>
                                <li class="catalog__item"><a class="catalog__link" th:href="@{'/Mazda/page/' + ${currentPage} + '?sortField=price&sortDir=' + ${reverseSortDir}}"><span
                                        class="catalog__title">Mazda</span></a>
                                </li>
                                <li class="catalog__item"><a class="catalog__link" th:href="@{'/Renaut/page/' + ${currentPage} + '?sortField=price&sortDir=' + ${reverseSortDir}}"><span
                                        class="catalog__title">Renault</span></a>
                                </li>
                                <li class="catalog__item"><a class="catalog__link" th:href="@{'/Toyota/page/' + ${currentPage} + '?sortField=price&sortDir=' + ${reverseSortDir}}"><span
                                        class="catalog__title">Toyota</span></a>
                                </li>
                            </ul>
                            <ul class="catalog__items">
                                <li class="catalog__item"><a class="catalog__link" th:href="@{'/Chrysler/page/' + ${currentPage} + '?sortField=price&sortDir=' + ${reverseSortDir}}"><span
                                        class="catalog__title">Chrysler</span><span
                                        class="catalog__count">433</span></a></li>
                                <li class="catalog__item"><a class="catalog__link" th:href="@{'/Honda/page/' + ${currentPage} + '?sortField=price&sortDir=' + ${reverseSortDir}}"><span
                                        class="catalog__title">Honda</span></a>
                                </li>
                                <li class="catalog__item"><a class="catalog__link" th:href="@{'/Mercedes-Benz/page/' + ${currentPage} + '?sortField=price&sortDir=' + ${reverseSortDir}}"><span
                                        class="catalog__title">Mercedes-Benz</span></a></li>
                                <li class="catalog__item"><a class="catalog__link" th:href="@{'/Rover/page/' + ${currentPage} + '?sortField=price&sortDir=' + ${reverseSortDir}}"><span
                                        class="catalog__title">Rover</span></a>
                                </li>
                                <li class="catalog__item"><a class="catalog__link" th:href="@{'/Volkswagen/page/' + ${currentPage} + '?sortField=price&sortDir=' + ${reverseSortDir}}"><span
                                        class="catalog__title">Volkswagen</span></a></li>
                            </ul>
                            <ul class="catalog__items">
                                <li class="catalog__item"><a class="catalog__link" th:href="@{'/Citroen/page/' + ${currentPage} + '?sortField=price&sortDir=' + ${reverseSortDir}}"><span
                                        class="catalog__title">Citroen</span><span
                                        class="catalog__count">1517</span></a></li>
                                <li class="catalog__item"><a class="catalog__link" th:href="@{'/Hyundai/page/' + ${currentPage} + '?sortField=price&sortDir=' + ${reverseSortDir}}"><span
                                        class="catalog__title">Hyundai</span><span
                                        class="catalog__count">1167</span></a></li>
                                <li class="catalog__item"><a class="catalog__link" th:href="@{'/Mitsubishi/page/' + ${currentPage} + '?sortField=price&sortDir=' + ${reverseSortDir}}"><span
                                        class="catalog__title">Mitsubishi</span></a>
                                </li>
                                <li class="catalog__item"><a class="catalog__link" th:href="@{'/SEAT/page/' + ${currentPage} + '?sortField=price&sortDir=' + ${reverseSortDir}}"><span
                                        class="catalog__title">SEAT</span></a>
                                </li>
                                <li class="catalog__item"><a class="catalog__link" th:href="@{'/Volvo/page/' + ${currentPage} + '?sortField=price&sortDir=' + ${reverseSortDir}}"><span
                                        class="catalog__title">Volvo</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="overlay-container" aria-busy="false">
                    <div class="overlay overlay--area overlay--animated" hidden="">
                        <div class="overlay__spinner"></div>
                    </div>
                    <div class="break break--zone929">
                        <div id="adfox_156328173233517757"></div>
                    </div>
                    <div class="listing">
                        <div class="listing__container">
                            <div class="listing__header"><h3 class="listing__title"></h3>
                                <div class="listing__sort">
                                    <div class="dropdown">
                                        <div class="dropdown__controls"><label class="dropdown__label">Сортировать
                                            по: </label>
                                            <div class="dropdown__box">
                                                <div class="btn-group" role="group">
                                                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                        <li><a class="dropdown-item"
                                                               th:href="@{'/page/' + ${currentPage} + '?sortField=price&sortDir=' + ${reverseSortDir}}">По
                                                            цене</a></li>
                                                        <li><a class="dropdown-item"
                                                               th:href="@{'/page/' + ${currentPage} + '?sortField=kilometers&sortDir=' + ${reverseSortDir}}">По
                                                            пробегу</a></li>
                                                        <li><a class="dropdown-item"
                                                               th:href="@{'/page/' + ${currentPage} + '?sortField=year&sortDir=' + ${reverseSortDir}}">По
                                                            году</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="listing__items" th:each="car:${car}">
                                    <div class="listing-item listing-item--color listing-item--top">
                                        <div class="listing-item__wrap">
                                            <div class="listing-item__photo"><img height="150" width="200"
                                                                                  class=" ls-is-cached lazyloaded"
                                                                                  th:src="${car.image}">
                                            </div>
                                            <div class="listing-item__about"><h3 class="listing-item__title"><a
                                                    class="listing-item__link"
                                                    th:href="@{/car/{id}(id=${car.id})}"><span
                                                    class="link-text" th:text="${car.mark}+' '+${car.model}"></span></a>
                                            </h3>
                                            </div>
                                            <div class="listing-item__params">
                                                <div th:text="${car.year}+ ' г.'"></div>
                                                <div th:text="${car.fuel}+', '+${car.engineCapacity} + ' л,' + ${car.body}"></div>
                                                <div th:text="${car.kilometers}+' км.'"></div>
                                            </div>
                                            <div class="listing-item__prices">
                                                <div class="listing-item__price" th:text="${car.price}+' $'"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="listing__pages">
                                <div class="paging">
                                    <!--                                    <div class="paging__button"><a class="button button&#45;&#45;default" rel="next"-->
                                    <!--                                                                   role="button"-->
                                    <!--                                                                   th:if="${currentPage < totalPages}"-->
                                    <!--                                                                   th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Показать следующие<span-->
                                    <!--                                            class="button__text" th:unless="${currentPage < totalPages}">Показать следующие</span></a></div>-->
                                    <div class="paging__button"><span class="button button--default"
                                                                      th:each="i: ${#numbers.sequence(1, totalPages)}"> <a
                                            class="button__text" rel="next"
                                            role="button"
                                            th:if="${currentPage != i}"
                                            th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a><span
                                            class="button__text" th:unless="${currentPage != i}">[[${i}]]</span></span>
                                    </div>

                                    <div class="paging__text">На странице 5 объявлений из [[${totalItems}]]</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>