<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block th:include="static/fragment/head :: head"></th:block>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <title>Title</title>

    <style>
        .th-input-error {
            margin: 0;
            padding: 7px 0;
            color: tomato;
        }
        .alertBlock {
            position: fixed;
            z-index: 99;
            bottom: 5px;
            right: 20px;
        }
    </style>

</head>
<body>
<div th:replace="header :: content"></div>

<div class="container">
    <div class="row justify-content-center mt-4">
        <div class="col-sm-4">
            <form action="#" th:action="@{/registration}" th:object="${newUser}" th:method="post">
                <h1>Registration</h1>
                <div class="mb-3">
                    <input type="text" class="form-control" th:field="*{email}" placeholder="Email"
                           aria-describedby="usernameHelp" required/>
                    <div id="emailHelp" class="form-text">
                        <p class="th-input-error" th:each="error: ${#fields.errors('email')}" th:text="${error}">
                            Validation error</p>
                    </div>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" th:field="*{username}" placeholder="Username"
                           aria-describedby="usernameHelp" required/>
                    <div id="usernameHelp" class="form-text">
                        <p class="th-input-error" th:each="error: ${#fields.errors('username')}" th:text="${error}">
                            Validation error</p>
                    </div>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" th:field="*{name}" placeholder="Name"
                           aria-describedby="usernameHelp" required/>
                    <div id="nameHelp" class="form-text">
                        <p class="th-input-error" th:each="error: ${#fields.errors('name')}" th:text="${error}">
                            Validation error</p>
                    </div>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" th:field="*{lastname}" placeholder="Last name"
                           aria-describedby="usernameHelp" required/>
                    <div id="lastnameHelp" class="form-text">
                        <p class="th-input-error" th:each="error: ${#fields.errors('lastname')}" th:text="${error}">
                            Validation error</p>
                    </div>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" th:field="*{phone}" placeholder="Phone"
                           aria-describedby="usernameHelp" required/>
                    <div id="phoneHelp" class="form-text">
                        <p class="th-input-error" th:each="error: ${#fields.errors('phone')}" th:text="${error}">
                            Validation error</p>
                    </div>
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" th:field="*{password}" placeholder="Password"
                           aria-describedby="passwordHelp" required/>
                    <div id="passwordHelp" class="form-text">
                        <p class="th-input-error" th:each="error: ${#fields.errors('password')}" th:text="${error}">
                            Validation error</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-5">
                        <button type="submit" class="btn btn-primary">Create account</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-3 ms-4 mt-3">
            <p>You already have an account? <a th:href="@{/login}">Sing in</a></p>
        </div>
    </div>
</div>
</body>
</html>